.imgs-container{
    position: relative;
}
.texts-container{
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -0%);
    -ms-transform: translate(-50%, -0%);
    color: #ffc107;
    width: 100%;
    font-weight: 600;
    padding: 0 20px 0 20px;
}
.texts-container h2{
    font-size: 55px;
    font-weight: 900;
}
.texts-container i{
    font-size: 60px !important;
    color: red;
    border-radius: 100%;

    cursor: pointer;
}
.texts-container a{
    text-decoration: none;
}

.texts-container a span{
   margin-left: 10px;
   font-size: 20px;
   color: white;
}
.texts-container a span:hover{
    color: #ffc107;
}